doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Erik Hayton
    link(href="https://file.myfontastic.com/imM392osA8XPD5ZF8DLqaf/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .small-12.columns
            h1 Erik Hayton
            //- h3 consult@erikhayton.com
            h4 Entrepreneur - Consultant - Business Development and Growth Hacking Expert
            p Devoted to innovating industries on a global scale
        .row.icon-row
          .medium-3.small-6.large-expand.columns
            a.icon.icon-facebook(href="https://www.facebook.com/imhayton")
          .medium-3.small-6.large-expand.columns
            a.icon.icon-twitter(href="https://twitter.com/ErikHayton")
          .medium-3.small-6.large-expand.columns
            a.icon.icon-linkedin(href="https://www.linkedin.com/in/erik-hayton-83341540")
          .medium-3.small-6.large-expand.columns
            a.icon.icon-instagram(href="https://www.instagram.com/ErikHayton/")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js")
    script(src="js/min/app-min.js")
